@model IEnumerable<MySchool.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Class Posts</h1>
<br />
<div class="dropdown">
    <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown">
        Quick Actions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a asp-action="SeeMyStudents">See My Students</a></li>
        <li><a asp-action="SetAvailability">Set My Availability for Conferences</a></li>
        <li><a asp-action="MyEvents">See My Scheduled Conferences</a></li>
        <li><a asp-action="Edit">Update My Information</a></li>
        <li><a asp-action="Delete">Delete My Information</a></li>
    </ul>
</div>
<br />

<p>
    <a asp-action="CreatePost">Add New Class Post</a>
</p>


<script>

</script>

@foreach (var item in Model)
{
    <div class="boxed" border="black">
        @Html.DisplayFor(modelItem => item.Author)<br /><br />
        @Html.DisplayFor(modelItem => item.Text)<br /><br />
        <a asp-action="Comment" asp-route-id="@item.PostId">Comment</a>

    </div>
    @if (item.Comments != null)
    {
        @foreach (var comment in item.Comments)
        {
            <div class="box-shadow" border="black">
                @Html.DisplayFor(modelItem => comment.Author)<br /><br />
                @Html.DisplayFor(modelItem => comment.Text)<br /><br />


            </div>
        }
    }

}
