@model IEnumerable<MySchool.Models.Conference>

@{
    ViewData["Title"] = "MyEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Events</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.FirstName)
            </td>
            
        </tr>
}
    </tbody>
</table>
