@model MySchool.Models.SchedulerEvent

@{
    ViewData["Title"] = "SetAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Set Availability</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetAvailability">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-horizontal">
                <hr />
                @Html.LabelFor(Model => Model.StartDate, htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.StartDate, "", new { @class = "text-danger"})
                </div>
            </div>
            <div class="form-horizontal">
                <hr />
                @Html.LabelFor(Model => Model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
