@model MySchool.Models.EmergencyCard

@{
    ViewData["Title"] = "SeeEmergencyCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>EmergencyCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentOneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentOneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentOneContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentOneContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentTwoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentTwoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentTwoContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentTwoContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECOneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECOneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECOneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECOneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECTwoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECTwoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECTwoNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECTwoNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Home</a>
</div>
