@model IEnumerable<MySchool.Models.Student>

@{
    ViewData["Title"] = "SeeStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Students</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                <a asp-action="EditStudent" asp-route-id="@item.StudentId">Edit Student</a> |
                <a asp-action="SeeEmergencyCard" asp-route-id="@item.StudentId">View Emergency Card</a> |
                <a asp-action="DeleteStudent" asp-route-id="@item.StudentId">Delete Student</a>
            </td>
        </tr>
}
    </tbody>
</table>
