@model IEnumerable<MySchool.Models.PermissionSlip>

@{
    ViewData["Title"] = "ViewForms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Forms</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ApprovingParent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Classroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovingParent)
            </td>
            
        </tr>
}
    </tbody>
</table>
